.posts-list {
    display: flex;
    padding: 10px;

}

.card-postagem {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
}

.card-buttons {
    display: grid;
    justify-items: center;
}

.card-button-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.creationDate {
    font-size: 12px;
}

.mais-info {
    text-align: center;
}

.conteudo {
    min-height: 100vh;

}