.create-box {
    margin: 20px;
}

.create-form {
    padding: 10px;
    margin: 20px;
}

.create-item {
    padding: 5px;
    margin: 10px;
}

.create-fields {
    width: 1120px;
}

.create-buttons {
    padding: 5px;
    margin: 20px;
}

.button{
    margin-left: 50px;
}

.create-item-select{
    width: 120px;
    display: grid;
    align-content: center;

}